/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dark-theme {
  background-color: #1c1c1c;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

.technical-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  max-width: 100%;
}
